/* temperature_style.css */
/*
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*/

h1{
  font-size: 36px;
  font-weight: bold;
  color: #47d2b8;
  margin-top: 5%;
}

h2{
  font-size: 28px;
  font-weight: bold;
  color: #47d2b8;
  margin-top: 4.75%;
}

#lat-link{
  font-family: Times New Roman, Times, Georgia, serif;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  background-color: #47d2b8;
}

#temp-img{
  float: left;
  margin-left: 3%;
  padding: 0 0 0 0;
}



#viz-1{
  margin-left: 3%;
}


#viz-2{
  margin-left: 3%;
  margin-top: 1.5%;
}